.navbar {
	min-height: 100px;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 1;
  	
	
}

div.absolute {
	psition: relative;
}

.sfondo {
	background-image: url("../frammenti/layer1.png");
	height: 100%;
	background-position: fixed;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

#submit {
  background-color: #FF6A00; /* colore di sfondo    */
  border: 2px solid #FF6A00; /* bordo dell'elemento */
  color: white;               /* colore del testo    */
  font-weight: bold;         /* testo in grassetto  */
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 border-radius:20px;
}
.linkStyle {
	text-decoration: none;
	color: #FF6A00;
}
:hover {
	color: #ba4e0;
}
